body{
    margin:0;
}
.background{
    width: 100%;
    height: 100px;
    position: absolute;
}
.navbar{
    width: 100%;
    height: 90px;
    position:relative;
    display:flex;
    align-items: center;
    color: white;
    justify-content:space-between;
    margin-bottom: 170px;
    font-weight: bold;
}
.connect{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:white;
    text-decoration: none;
}
.logo{
    margin: 20px;
    margin-top: 20px;
    width:60px;
    height:80px;
    cursor: pointer;
}
.topic{
    font-size: 25px;
    margin-right: 400px;
    cursor: pointer;
}
.nav{
    display:flex;
    justify-content: right;
    font-size: 25px;
    margin: 40px;
    gap: 50px;
}
.nav-items{
    cursor: pointer;
}