body{
    margin:0;
}
.background{
    width: 100%;
    height: 778px;
    position: absolute;
}
.navbar{
    width: 100%;
    height: 90px;
    position:relative;
    display:flex;
    align-items: center;
    color: white;
    margin-bottom: 170px;
    font-weight: bold;
}
a{
    color:white;
    text-decoration: none;
}
.logo{
    margin: 20px;
    margin-top: 20px;
    width:60px;
    height:80px;
    cursor: pointer;
}
.topic{
    font-size: 25px;
    margin-right: 400px;
    cursor: pointer;
}
.nav{
    display:flex;
    justify-content: right;
    font-size: 25px;
    margin: 40px;
    gap: 50px;
}
.nav-items{
    cursor: pointer;
}
.infobod{
    position: absolute;
    margin-left: 50px;
}
.infobod-top{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}
.infobod-mid{
    color: white;
    font-size: 20px;
    width: 600px;
    margin-bottom: 20px;
}
.button{
    font-size: 27.5px;
    width: 200px;
    height: 50px;
    background-color: #10F1BB;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}