body{
    margin:0;
}
.background{
    width: 100%;
    height: 778px;
    position: absolute;
}
.navbar{
    width: 100%;
    height: 90px;
    position:relative;
    display:flex;
    align-items: center;
    color: white;
    margin-bottom: 170px;
    font-weight: bold;
}
.logo{
    margin: 20px;
    margin-top: 20px;
    width:60px;
    height:80px;
    cursor: pointer;
}
.topic{
    font-size: 25px;
    margin-right: 400px;
    cursor: pointer;
}
.nav{
    display:flex;
    font-size: 25px;
    margin: 40px;
    gap: 50px;
}
.nav-items{
    cursor: pointer;
}
.infobod{
    position: absolute;
    margin-left: 50px;
}
.infobod-top{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}
.infobod-mid{
    color: white;
    font-size: 20px;
    width: 600px;
    margin-bottom: 20px;
}
.infobod-bottom{
    font-size: 27.5px;
    width: 200px;
    height: 50px;
    background-color: #10F1BB;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.about-us{
    width: 100%;
    height: 380px;
    background-color: #F0F4F5;
}
.mid{
    width: 100%;
    height: 1900px;
    margin-top: 688px
}
.mid-top{
    padding-top: 70px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.mid-mid{
    width: 50px;
    height: 3px;
    background-color: purple;
}
.mid-bottom{
    width: 900px;
    margin-left: 270px;
    text-align: center;
}
.history{
    width: 100%;
    height: 1520px;
}
.history-pic{
    width: 100%;
    height: 1520px;
}